<div class='station'> 
  <div class='name'> <%= @station.name %> </div>
  <div class='address'> <%= @station.address %> </div>
  <div class='fuel_type'> <%= @station.fuel_type %> </div>
  <div class='access_times'> <%= @station.access_times %> </div>
</div>